.cardapio{
    height: 800px;
    width: 800px;
}
h1{
    color:black;
}
h2{
    color: blue(red, green, blue);
}

nav  {
    background-color: blue;
    padding: 5px;
    margin: 10px ;
}

h2 {
    background-color:rebeccapurple ;
    padding: 5px;
    margin: 5px;
}
.menu_principal{
    background-color: #D3D3D3;
    width: 1131px;
    height: 35px;
    padding-top: 13px;
    padding-bottom: 0px;
    margin: 0 auto; 
    text-align: center;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

